*{
    margin: 0;
    padding: 0;
    border: 0;
}

.Top{
    height: auto;
    background-color: #FFF5EE;;
}

.buttons{
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;;
}
.button{
    background-color: black;
    margin-top: ;
}
#button{
    border-radius: 0.6rem;
    padding: 0.5em;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin: 2rem;
    background-color: greenyellow;
    font-size: 1em;
}
.title{
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}





.container{
    border: 2px solid black;
    width: 100%;
}



.grid{
    background: tomato;
    max-height: 30rem;
    height: 50rem;
    max-width: 50rem;
    margin: auto;
}

.Bottom{
    height: auto;
    background-color: #ffb7c5;
}
