*{
    margin: 0;
    padding: 0;
    border: 0;

.Top{
    height: auto;
}

.buttons{
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f9ee99;
}
.button{
    background-color: ;
}
#button{
    border-radius: 0.6rem;
    padding: 0.5em;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin: 2rem;
    background-color: #fefae0;
    font-size: 1em;
    outline: solid black 1px;

}
#button:hover{
    background-color: red ;
}

.title{
    background-color: #dda15e;
    display: flex;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #283618 ;
}





.container{

    width: 100%;
    background-color: #f9ee99;
}



#grid{
    background:;
    max-height: 40rem;
    height: 75vh;
    max-width: 40rem;
    margin: auto;
    outline: 2px solid #283618;
    background-color: #faf9f6;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}

.Bottom{
    height: auto;
    background-color: #bc6c25;
}
#githubcat{
    height: 3vh;
}
.Bottom{
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3vh;
}
.name{
    font-weight: 800;
    font-size: 1.2rem;}
